*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    background:linear-gradient(135deg,#ff7eb3,#ffb6d5);

}

.container{

    text-align:center;

}

h1{

    color:white;

    font-size:50px;

    margin-bottom:20px;

}

h2{

    color:white;

    margin-bottom:40px;

}

.button-box{

    position:relative;

    width:350px;

    height:120px;

    margin:auto;

}

button{

    padding:15px 35px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:20px;

    transition:.3s;

}

#yes{

    background:#ff2d55;

    color:white;

}

#yes:hover{

    transform:scale(1.1);

}

#no{

    background:white;

    color:#ff2d55;

    position:absolute;

    left:190px;

}

.hidden{

    display:none;

}

.letter{

    width:700px;

    background:white;

    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 20px 40px rgba(0,0,0,.2);

}

#typing{

    margin-top:25px;

    font-size:22px;

    line-height:40px;

    color:#555;

    white-space:pre-line;

    min-height:320px;

}

.heart{

    position:absolute;

    font-size:30px;

    animation:fall linear forwards;

}

@keyframes fall{

0%{

transform:translateY(-50px);

}

100%{

transform:translateY(110vh);

opacity:0;

}

}